'fileTypes': [
  'py.j2',
  'jinja2',
  'j2'
]
'firstLineMatch': '^{% extends ["\'][^"\']+["\'] %}'
# 'foldingStartMarker': '(<(?i:(head|table|tr|div|style|script|ul|ol|form|dl))\\b.*?>|{%\\s*(block|filter|for|if|macro|raw))'
# 'foldingStopMarker': '(</(?i:(head|table|tr|div|style|script|ul|ol|form|dl))\\b.*?>|{%\\s*(endblock|endfilter|endfor|endif|endmacro|endraw)\\s*%})'
'name': 'Python (Jinja Templates)'
'patterns': [
  {
    'include': 'source.jinja'
  }
  {
    'include': 'source.python'
  }
]
'scopeName': 'source.python.jinja'
